/* Elements communs de la page */
html {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-size: 12px;
	font-family: Tahoma;
	color: #333333;
	height: 100%;
}

body {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 70em;
	background-color: #ffffff;
	height: 100%;
}

table { width: 100%; }
th { 
	border-bottom: 1px solid #dedede; }
p, h1, h2, h3, h4, h5 { margin: 0; padding: 0 }
a { color: #333333; }
a:hover { text-decoration: none; }

.aleft { text-align: left; }
.acenter { text-align: center; }
.aright { text-align: right; }

/* Définition de la topbar */
#topbar {
	background-color: #44413B;
	color: #ffffff;
	padding: 0.7em;
	position: relative;
}

#topbar h1 {
	color: #ffffff;
	font-size: 2.3em;
	font-weight: normal;
}
#topbar h1 a, #topbar h1 a:visited { color: #ffffff; text-decoration: none; }
#topbar h1 a:hover { color: #F2C573; }
#topbar h2 {
	color: #F2C573;
	font-weight: normal;
	font-size: 1em;
}
#profile {
	position: absolute;
	padding: 0.7em;
	top: 0.7em;
	right: 0.7em;
	background-color: #5B5853;
}
#profile em {
	color: #F2C573;
	font-weight: bold;
	font-style: normal;
}
#profile a { color: white; }


/* Définition de la menu bar */
#menubar {
	padding: 15px 8px 5px;
	border-bottom: 1px solid black;
	background-color: #44413B;
}
#menubar menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menubar menu li {
	display: inline;
	padding: 5px 10px;
	margin: 0px 2px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid black;
	background-color: #f5f5f5;
}
#menubar menu li:hover {
	cursor: pointer;
	background-color: #fefefe;
}
#menubar menu li a { text-decoration: none; color: #000000; }
#menubar menu li.aide { background-color: #90BF80; }
#menubar menu li.admin { background-color: #EFB400; }

/* Définition du corps de page */
#corps {
	padding: 3em 5em;
}

/* Définition des éléments de formulaire */
fieldset {
	border: none;
	border: 1px solid #dedede;
	padding-top: 2em;
	border-radius: 5px;
}
fieldset:hover {
	border: 1px solid grey;
}
legend {
	font-weight: bold;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}
form p {
	margin: 1em 0;
}
button.submit_upload {
	padding: 0.8em 2em 0.7em;
/*	background-color: #F69D00; */
	background: -moz-linear-gradient(center top, #FFD200, #FAC000 25%, #F69D00 50%, #FAC000 75%, #FFD200);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFD200), color-stop(25%, #FAC000), color-stop(50%, #F69D00), color-stop(75%, #FAC000), to(#FFD200));
	border-radius: 10px;
	border: 1px solid #F69D00;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 1.2em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}


/* Définition des divs d'information */
.info {
	border-radius: 5px;
	padding: 0.2em 1em 1em;
	margin: 0 0em 3em;
}
.info h1 {
	font-weight: normal;
	background-color: #ffffff;
	font-size: 1em;
	margin-top: -0.7em;
	margin-bottom: 1em;
	padding: 2px 1em;
	display: inline-block;
}
.info-vert { border: 1px solid green; color: green; }
.info-vert a { color: green; }
.info-vert h1 { border: 1px solid green; color: green; }
.info-orange h1 a { color: orange; }
.info-orange { border: 1px solid orange; color: orange; }
.info-orange h1 { border: 1px solid orange; color: orange; }
.info-rouge a { color: red; }
.info-rouge { border: 1px solid red; color: red; }
.info-rouge h1 { border: 1px solid red; color: red; }


/* Définition de la bar d'administration */
#adminbar {
	position: absolute;
	right: -12em;
	width: 10em;
	bottom: 0;
	top: 0;
	padding: 1em;
	word-wrap:break-word;
	overflow: hidden;
	background-color: #EFB400;
}
#adminbar h1 {
	color: #FFFFFF;
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 2em;
}
#adminbar menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
#adminbar menu li {
	border-top: 1px solid black;
	padding: 0.4em 0.5em 0.3em 0.5em;
}
#adminbar menu li:last-child {
	border-bottom: 1px solid black;
}
#adminbar menu li:hover {
	background-color: #FFFFFF;
	cursor: pointer;
}

#adminbar menu li a { text-decoration: none; color: #000000; }
#adminbar #closebutton {
	display: block;
	position: absolute;
	text-decoration: none;
	top: 0;
	right: 0;
	padding: 0em 0.2em 0.2em;
	line-height: 1em;
	border: 1px solid black;
}
#adminbar #closebutton:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: #FFFFFF;
}